 <!-- $layoutsDir/main.html -->
 <!DOCTYPE html>
 <html>
     <head>
        <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css" />
     </head>
     <body>
        <button class="slds-button slds-button_brand" title="Test" type="button">Test HTML</button>
        <button class="slds-button slds-button_brand">Brand Button FROM SLDS</button>
         <!-- triple braces prevents HTML escaping -->
         {{{body}}} {{{lwr_resources}}}
     </body>
 </html>